$color_1: white;
$color_2: hsl(275, 100%, 97%);
$color_3: hsl(292, 16%, 49%);
$color_4: hsl(292, 42%, 14%);
$color_5: hsl(281, 83%, 54%);

$background-color_1: white;
$background-color_2: hsl(275, 100%, 97%);
$background-color_3: hsl(292, 16%, 49%);
$background-color_4: hsl(292, 42%, 14%);
$background-color_5: hsl(281, 83%, 54%);

$font-family_1: "Work Sans", sans-serif;
.minus,
.answer {
  display: none;
}
.hide {
  display: none;
}
.active {
  display: block;
}
body {
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $background-color_2;
  font-family: $font-family_1;
  font-size: 16px;
  font-weight: 400;
  #theBox {
    background-color: $background-color_1;
    width: 460px;
    margin: 100px auto;
    padding: 36px;
    border-radius: 16px;
    box-shadow: 0px 6px 25px 3px rgba(47, 21, 51, 0.26);
    #title {
      display: flex;
      margin-bottom: 8px;
      h1 {
        font-weight: 700;
        font-size: 48px;
        margin: 0;
      }
      img {
        margin-right: 16px;
      }
    }
    .facts {
      .slot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .question {
          font-weight: 600;
          :hover {
            color: $color_5;
          }
        }
      }
      .answer {
        color: $color_3;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url(assets/images/background-pattern-mobile.svg);

    #theBox {
      margin: 130px 16px;
      padding: 16px;
      width: auto;
    }
  }
}
