$color_1: white;
$color_2: hsl(275, 100%, 97%);
$color_3: hsl(292, 16%, 49%);
$color_4: hsl(292, 42%, 14%);

$background-color_1: white;
$background-color_2: hsl(275, 100%, 97%);
$background-color_3: hsl(292, 16%, 49%);
$background-color_4: hsl(292, 42%, 14%);

$font-family_1: "Outfit", sans-serif;
$font-family_2: "Young Serif", serif;
